/* Gallery View CSS Code */

.picturesContainer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsiveImage {
  max-width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.responsiveImage:hover {
  opacity: 0.7;
}

.cell {
  margin: 1rem;
}

.cell img {
  display: block;
  }


@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3 - 2rem);
  }
}

/* Modal CSS Code */

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 15%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 15%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#image {
  max-width: 100%;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

#imaage, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transfrom:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .modal-content {
    width: 80%;
  }
}